* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* FUENTES */
.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: bold;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.updock {
  font-family: "Updock", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.dm-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}
.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.active {
  border-bottom: 4px solid rgba(202, 192, 182);
  transform: scale(1.1);
}
a {
  text-decoration: none;
  color: black;
}

/* HEADER */

header {
  background-color: #e0d7d2b6;
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

header .headerTop {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.headerTop .insideHeader {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.insideHeader h1 {
  cursor: pointer;
}
.headerTop h1 {
  grid-column: 2/3;
}
.icons {
  display: flex;
  justify-content: center;
  grid-column: 3/4;
}

.icons img {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}
.icons img:hover {
  transform: translateY(-10px);
  transition: ease-in-out 0.3s;
}
header .headerBottom {
  display: flex;
  justify-content: center;
  width: 100%;
}

.headerBottom nav {
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  width: 60%;
  border-top: 1px solid black;
}
.headerBottom nav a {
  padding: 20px;
}

.headerBottom nav a:hover {
  border-bottom: 4px solid rgba(202, 192, 182);
  transform: scale(1.1);
}
.headerBottom nav a:hover > span {
  border-bottom: 2px solid black;
}
main {
  flex: 1;
  display: grid;
  width: 100%;
}

/* CONTACTO */

.contacto {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 20%;
}
.contacto h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.contacto .contactoText {
  display: flex;
  flex-direction: column;
}
/* BOTÓN DE LLAMAR */
.llamanos {
  position: relative;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
  background-color: rgba(94, 136, 53, 1);
  outline: none;
  border: none;
  border-radius: 50px;
  width: auto;
}

.llamanos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(77, 112, 42);
  transition: width 0.3s ease-in-out;
  z-index: 0;
}

.llamanos:hover {
  color: white;
}

.llamanos:hover::before {
  width: 100%;
}

.llamanos span {
  position: relative;
  z-index: 1;
}

.contacto article {
  position: relative;
  padding: 50px;
}

.contacto article img {
  width: 40%;
  border-radius: 10px;
}

.contacto article img:nth-of-type(2) {
  position: absolute;
  z-index: 10;
  top: 35%;
  left: 35%;
}
/* SEPARACIÓN */

.separacion {
  background-image: url(img/separacion.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}
.separacionText {
  width: 50%;
  float: right;
  background-color: #e0d7d2;
  padding: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* MENU & VIDEO */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  background-color: white;
  position: relative;
}

.videoContainer {
  align-items: center;
  margin-right: 5%;
}

/* INVITAR MENU */
.invitarMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  position: relative;
}

.invitarMenu article {
  position: absolute;
  top: -2%;
  right: -40%;
  width: 100%;
  height: 100%;
  max-width: 400px;
  z-index: 0;
  overflow: hidden;
}

.invitarMenu article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.invitarMenu .menuText {
  position: relative;
  padding: 20px;
  background-color: #e0d7d2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Asegura que el texto esté sobre la imagen */
}

/* BOTÓN */
.haciaMenu {
  position: relative;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  background-color: rgba(94, 136, 53, 1);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  outline: none;
  border: none;
  border-radius: 50px;
  overflow: hidden;
}

.haciaMenu a {
  color: white;
  text-decoration: none;
}

.haciaMenu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(77, 112, 42);
  transition: width 0.3s ease-in-out;
  z-index: 0;
}

.haciaMenu:hover::before {
  width: 100%;
}

.haciaMenu a {
  position: relative;
  z-index: 1;
}
/* Conocenos */
#conocenos {
  background-color: #f8f4f1;
  padding: 50px 0;
  text-align: center;
}

.conocenosContainer {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.conocenosImages {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.conocenosImages img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}
/* GALLERY */
.sectionGaleria {
  text-align: center;
  background-color: #f8f4f1;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.gallery-img-container {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-img-container img {
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
  object-fit: cover;
}

.gallery-img-container:hover img {
  transform: scale(1.2);
  cursor: pointer;
}
/* Outter Gallery */
.outter-gallery-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 11;
  justify-content: center;
  align-items: center;
  display: none;
}

.outter-gallery-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  z-index: 10;
}

.outter-gallery {
  max-height: 600px;
  max-width: 800px;
  overflow: hidden;
}
.outter-gallery img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.outter-gallery-button-position {
  position: relative;
  max-height: 600px;
  max-width: 800px;
}
.outter-gallery-button-position button {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -3px;
  right: -6px;
  outline: none;
  width: 0;
  height: 0;
  z-index: 100;
  cursor: pointer;
  outline: none;
}
.outter-gallery-button-position button.show {
  display: flex;
}
.outter-gallery-button-position button img {
  background-color: white;
  border-radius: 50%;
  border: 2px solid white;
}
.outter-gallery-button-position button img:hover {
  background-color: white;
  border-radius: 50%;
  border: 2px solid white;
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}

/* BACK TO TOP */
.back-to-top {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 2px 4px black;
  display: none;
}

.back-to-top a {
  text-decoration: none;
  color: inherit;
}
.back-to-top a:hover > svg {
  transform: scale(1.8);
  transform: translateY(-3px);
}
.back-to-top a svg {
  width: 100%;
  height: 100%;
}
.show {
  display: flex;
}
.no-scroll {
  overflow: hidden;
}
footer {
  background-color: #e0d7d2;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
}

.footer-info p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
.footer-content .icons {
  align-items: center;
}
